/* Extended */
%font_size {
  font-size: 12px;
}

%color_one {
  color: #00FF00;
}

%color_two {
  color: #FF0000;
}

.info {
  @extend %font_size;
}

.success {
  @extend %color_one, .info;
}

.warning {
  @extend %color_two, .info;
}
